.custom-button {
  background: transparent;
  font-size: 20px;
  color: #1E1E1E;
  border: 2px solid #1E1E1E;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #1E1E1E;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

