@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}

html {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  line-height: 1.5;
}


a{
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  max-width: 1200px; 
  margin: auto;
  padding: 0 1rem; 
}

@media (max-width: 768px) {
  .app {
    width: 95%;
    padding: 0 0.5rem;
  }
}

