.explore-menu {
    padding: 30px 0;
    text-align: center;
}

.explore-menu h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.explore-menu-text {
    font-size: 18px;
    color: #555;
    max-width: 700px;
    margin: 0 auto 50px auto;
    line-height: 1.6;
}

.explore-menu-list {
    display: flex;
    gap: 40px;
    padding: 20px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    padding-bottom: 20px; 
    -ms-overflow-style: none; 
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-menu-list-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1E1E1E; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.explore-menu-list-item p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.explore-menu-list-item:hover img {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    filter: brightness(1.1);
}

.explore-menu-list-item:hover p {
    color: #e87814;
    font-weight: 600;
}

.section-divider {
    width: 80%;
    height: 3px;
    background-color: #e87814;
    margin: 50px auto 0 auto;
    border-radius: 2px;
}

.explore-menu-list-item img.active {
    transform: scale(1.1) rotate(5deg); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2); 
    border: 4px solid #c05c05;
}